* {
  box-sizing: border-box;
}
:root {
  --acacia: 229, 208, 88;
  --gray: 113, 113, 111;
}
body {
  padding: 0.5rem;
  margin: 0;
}
body > div {
  height: 100%;
}
main {
  height: 100%;
}
:is(button, [role="button"]) {
  border: 2px solid rgb(var(--gray));
  border-radius: 1rem;
  text-align: center;
  background-color: rgb(var(--acacia));
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
  margin-block: 0.25rem;
}
:is(button, [role="button"]):is(:disabled, [data-disabled]) {
  opacity: 45%;
  background-color: rgba(var(--gray), 0.5);
}
:is(button, [role="button"]):not([data-disabled]):active {
  border-color: rgba(var(--gray), 0.25);
  outline: red;
}
:is(button, [role="button"])[data-pressed] {
  background-color: rgba(var(--acacia), 0.65);
}
:is(button, [role="button"])[data-pressed] {
  background-color: rgba(var(--acacia), 0.65);
}
:is(button, [role="button"])[data-toggled] {
  background-color: rgb(183, 167, 73);
}

.acacia-checkbox {
  --label-color: black;
  --deselected-color: gray;
  --deselected-color-pressed: rgb(128, 128, 128, 0.75);
  --selected-color: rgb(229, 208, 88);
  --selected-color-pressed: rgb(216, 197, 85);
  --checkmark-color: white;
  --invalid-color: rgb(231, 105, 105);
  --invalid-color-pressed: rgb(216, 88, 88);
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--label-color);
  width: fit-content;
}
.acacia-checkbox .checkbox {
  width: 1.143rem;
  height: 1.143rem;
  border: 2px solid var(--deselected-color);
  border-radius: 4px;
  transition: all 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acacia-checkbox svg {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: var(--checkmark-color);
  color: var(--checkmark-color);
  stroke-width: 3px;
  stroke-dasharray: 22px;
  stroke-dashoffset: 66; /* Animates svg */
  transition: all 200ms;
}

.acacia-checkbox[data-checked] .checkbox,
.acacia-checkbox[data-indeterminate] .checkbox {
  border-color: var(--selected-color);
  background: var(--selected-color);
}
.acacia-checkbox[data-invalid] .checkbox {
  border-color: var(--invalid-color);
}
.acacia-checkbox[data-checked][data-pressed] .checkbox,
.acacia-checkbox[data-indeterminate][data-pressed] .checkbox {
  border-color: var(--selected-color-pressed);
  background: var(--selected-color-pressed);
}
.acacia-checkbox[data-checked] svg,
.acacia-checkbox[data-indeterminate] svg {
  stroke-dashoffset: 44;
}

.acacia-checkbox[data-invalid][data-checked] .checkbox,
.acacia-checkbox[data-invalid][data-indeterminate] .checkbox {
  background: var(--invalid-color);
  border-color: var(--invalid-color);
}
.acacia-checkbox[data-invalid][data-pressed][data-checked] .checkbox,
.acacia-checkbox[data-invalid][data-pressed][data-indeterminate] .checkbox {
  background: var(--invalid-color-pressed);
  border-color: var(--invalid-color-pressed);
}
.acacia-checkbox[data-indeterminate] svg {
  stroke: none;
  fill: var(--checkmark-color);
}
.acacia-checkbox[data-disabled] {
  opacity: 0.4;
}
.acacia-checkbox-group {
  position: relative;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
}
.acacia-checkbox-group > legend {
  position: absolute;
  top: -1ch;
  left: 1rem;
  background-color: white;
  padding-inline: 0.5rem;
}
